@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 !important;
  @apply bg-neutral-600;
}

.react-dropdown-select {
  @apply border-none !important;
  @apply hover:border-none !important;
  @apply bg-neutral-600 !important;
  @apply focus:shadow-none !important;
  @apply focus-within:shadow-none !important;
  @apply focus-within:border-none !important;
  @apply rounded-none !important;
  @apply w-full bg-neutral-600 p-1 text-white text-xs focus:outline-none focus:outline-blue-400 disabled:text-neutral-400 !important;
}

[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

[data-reach-dialog-content] {
  margin: 10vh auto;
  outline: none;
}

.cet-controls-container .cet-icon {
  @apply flex items-center justify-center !important;
}
